body {

    font-family: 'Poppins', sans-serif;
    /* this part bodey under caption part font type dicler */
    margin: 0%;
    /* by default total page margin Zero */
}

h1 {
    font-size: 50px;
}

.or {

    color: coral;

}

.flexbal {
    display: flex;
    /* 2 ta side er flexibal kora hoise*/

    margin-bottom: 150px;

}

.box1 {
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
}

.box1 a {
    background-image: linear-gradient(orange, tomato);
    /* linear-gradient use kora hoise 2 ta color shead aner jonnio*/
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.box2 img {
    width: 80%;

}

.main {

    background-image: url("./picture/top-banner.png");
    background-repeat: no-repeat;

}

.b1 img {
    width: 80%;


}

.b2 a {

    background-image: linear-gradient(pink, rgb(228, 51, 51));
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 10px;
    font-weight: 700;
    color: blue;


}

.b2 {

    width: 50%;
    padding-top: 10px;
    padding-bottom: 10pxS;
}

.main2 {
    background-image: url(./picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    /*thik ase*/

}

.a {
    width: 50%;
    margin: 40px 40px;
    padding-left: 20px;
    padding-bottom: 100px;
    padding-top: 50px;
    box-shadow: 10px 10px 30px rgb(126, 126, 99);


}

.a h1 {
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.b {
    width: 50%;
    margin: 40px 40px;
    padding-left: 20px;
    padding-bottom: 100px;
    padding-top: 50px;
    box-shadow: 10px 10px 30px rgb(124, 124, 102);

}

.b h1 {
    text-align: center;
    font-weight: 700;
    font-size: large;
}


.ok {
    margin: 40px 40px;
}

.c {
    padding: 20px 20px;
}

.colo {
    color: coral;
}

.therd {

    background-image: url(./picture/exp-bg.png);
    background-repeat: no-repeat;
}