body {

    font-family: 'Poppins', sans-serif;
    /* this part bodey under caption part font type dicler */
    margin: 0%;
    /* by default total page margin Zero */
}

h1 {
    font-size: 50px;
}

.or {

    color: coral;

}

section {
    display: flex;
    /* 2 ta side er flexibal kora hoise*/

}

.box1 {
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
}

.box1 a {
    background-image: linear-gradient(orange, tomato);
    /* linear-gradient use kora hoise 2 ta color shead aner jonnio*/
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.box2 img {
    width: 80%;

}

.main {

    background-image: url("./picture/top-banner.png");
    background-repeat: no-repeat;

}